:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --white-color: #ffffff;
  --black-color: #000000;
  --btn-color: #f5f4fa;
  --bg-elements: #2f303a;
  --border-color: #eeeeee;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --img-bg-cl: rgba(47, 48, 58, 0.8);
  --overlay-cl: rgba(33, 150, 243, 0.9);
  --footer-form: rgba(255, 255, 255, 0.6);
  --social-icon-cl: #afb1b8;
  --footer-socials: rgba(255, 255, 255, 0.1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.clients-link, .socials-link, .contact-list__link, .nav__link {
  text-decoration: none;
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio, .clients, .team, .gallery, .features, .hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list, .clients-list, .footer-list, .socials, .team-list, .gallery-list, .features-list, .contact-list, .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  border: transparent;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  font-weight: 700;
}

.logo__span {
  color: var(--accent-color);
}

.logo__dark {
  color: var(--black-color);
}

.footer__logo {
  padding: 0;
  margin-right: 0;
}

.logo__light {
  color: var(--white-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}
.nav__list--current {
  position: relative;
}
.nav__list--active {
  color: var(--accent-color);
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__list--active::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  bottom: -1.5%;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: var(--text-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--bg-elements);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  height: 600px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hover-color);
}

.features {
  padding-bottom: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-color);
  border-radius: 4px;
}

.features-list__header {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.features-list__txt {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.7142857143;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.gallery__item {
  position: relative;
}

.gallery__txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--img-bg-cl);
}

.team {
  background-color: var(--btn-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--white-color);
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 2px 5px 0px var(--social-icon-cl);
          box-shadow: 0px 2px 5px 0px var(--social-icon-cl);
}

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-mate {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team-position {
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: var(--social-icon-cl);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--white-color);
}

.footer-socials__txt {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
}

.socials__dark {
  background-color: var(--footer-socials);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.socials__dark:hover, .socials__dark:focus {
  background-color: var(--accent-color);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon {
  fill: var(--white-color);
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  background-color: var(--white-color);
  border: 1px solid var(--social-icon-cl);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  padding: 0;
}

.clients-icon {
  fill: var(--social-icon-cl);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-list__item:hover {
  border-color: var(--accent-color);
}

.portfolio-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.port__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--btn-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.port__btn:hover, .port__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px -2px var(--social-icon-cl);
          box-shadow: 0px 4px 4px -2px var(--social-icon-cl);
}

.port-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.port-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.port-photo-link {
  display: block;
  text-decoration: none;
  color: currentColor;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.port-photo-link:hover {
  -webkit-box-shadow: 0px 2px 5px 0px var(--social-icon-cl);
          box-shadow: 0px 2px 5px 0px var(--social-icon-cl);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.port-list__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.port-wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.port-wrap__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-wrap__name {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--overlay-cl);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.overlay__desc {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--white-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-elements);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.adress-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.adress-link {
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.7142857143;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.adress-link:hover, .adress-link:focus {
  color: var(--accent-color);
}

.contact {
  color: var(--text-color);
}

.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-form {
  margin-left: auto;
}

.footer-form__txt {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
}

.ft-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.footer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: var(--footer-form);
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.footer-input:hover, .footer-input:focus {
  border-color: var(--accent-color);
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  -webkit-transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.footer__btn:hover, .footer__btn:focus {
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--modal-bg-color);
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.app-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.app-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-form__span {
  margin-bottom: 4px;
  color: rgb(117, 117, 117);
}

.app-form__input {
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.app-form__input:hover,
.app-form__input:focus {
  border-color: var(--accent-color);
}

.app-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.app-form__input:hover + .app-form__icon,
.app-form__input:focus + .app-form__icon {
  fill: var(--accent-color);
}

.app-form__txt {
  resize: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  font-size: 12px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.app-form__txt:hover,
.app-form__txt:focus {
  border-color: var(--accent-color);
}

.app-form__txt::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.app-form__txt::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.app-form__txt:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.app-form__txt::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.app-form__txt::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.checkbox-input:checked + .checkbox-svg .icon-checked {
  opacity: 1;
}

.checkbox-input:checked + .checkbox-svg .icon-unchecked {
  opacity: 0;
}

.icon-uncheked {
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.checkbox__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.5;
  color: var(--text-color);
}

.checkbox-link {
  color: var(--accent-color);
}

.form__btn {
  padding: 10px 52px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.form__btn:hover,
.form__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */