@import "./utils/vars";
@import "./utils/visually-hidden";
@import "./utils/reset";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/base";
@import "./components/header";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contacts";
@import "./components/hero";
@import "./components/features";
@import "./components/gallery";
@import "./components/team";
@import "./components/socials";
@import "./components/clients";
@import "./components/portfolio";
@import "./components/overlay";
@import "./components/footer";
@import "./components/address";
@import "./components/footer-form";
@import "./components/modal-wimdow";
@import "./components/application-form";
@import "./components/menu";
