.address-container {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}

.adress {
  font-style: normal;

  margin-top: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.adress-list {
  @extend %list;
}

.adress-link {
  color: var(--white-color);

  text-decoration: none;
  line-height: calc(24 / 14);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact {
  color: var(--text-color);
}

.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}
