.clients {
  @extend %section;
}

.clients-list__item {
  flex-basis: calc((100% - 30px * 5) / 6);

  background-color: var(--white-color);
  border: 1px solid var(--social-icon-cl);
  border-radius: 4px;

  transition: border-color var(--animation);
}

.clients-list {
  @extend %list;
  display: flex;
  gap: 30px;
}

.clients-link {
  @extend %link;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  padding: 0;
}

.clients-icon {
  fill: var(--social-icon-cl);
  transition: fill var(--animation);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-list__item:hover {
  border-color: var(--accent-color);
}
