.contact-list {
  @extend %list;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.contact-list__link {
  @extend %link;
  display: flex;
  gap: 10px;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--text-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}

.contact-list__icon {
  fill: var(--text-color);

  transition: fill var(--animation);
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}
