.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav__list {
  @extend %list;
  display: flex;
  gap: 50px;
  align-items: center;

  font-family: var(--main-font);
  letter-spacing: 0.02em;

  &--current {
    position: relative;
  }

  &--active {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__link {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__list--active::after {
  content: "";
  position: absolute;
  display: inline-block;

  width: 100%;
  height: 4px;
  bottom: -1.5%;
  left: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}
