%link {
  text-decoration: none;
  color: currentColor;
  display: flex;
  cursor: pointer;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}
