:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --white-color: #ffffff;
  --black-color: #000000;
  --btn-color: #f5f4fa;

  --bg-elements: #2f303a;
  --border-color: #eeeeee;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --img-bg-cl: rgba(47, 48, 58, 0.8);
  --overlay-cl: rgba(33, 150, 243, 0.9);

  --footer-form: rgba(255, 255, 255, 0.6);

  --social-icon-cl: #afb1b8;
  --footer-socials: rgba(255, 255, 255, 0.1);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
